.form {
    width: 50%;
    background-color: #333;
    color: white;
    padding: 0.5rem;
    border-radius: 0.6rem;
    margin-bottom: 0.5rem;

}
.form-filed {
    margin: 1 rem 0;
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
}
.form-filed label {
    flex-basis: 20%;
    
}
.form-filed input {
    flex-basis: 80%;
    border: none;
    border-radius: 0.6rem;
    padding: 0.2rem;
}
.form-filed textarea {
    flex-basis: 80%;
    resize: none;
    border: none;
    border-radius: 0.6rem;
    padding: 0.2rem;
}
.form button {
    border: none;
    border-radius:  0.6rem;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 50%;
}

.form button:hover {
    background-color: orange;
    color: white ;
}